.carrossel__título {
    background-color: var(--branco);
    color:var(--laranja);
    text-align:center;
    font-weight:700; /*Bold*/
    padding:1em 0 0.5em 0; /*Espaçamento da borda para dentro; top,right,bottom e left*/
    font-size:1.125em; /*Unidade relativa. Equivale a 18px.*/
    text-transform:uppercase; /*Colocando o texto em maiúsculo*/

}

.swiper-slide img {
    /*Selecionamos a classe do carrossel aonde estão as nossas imagens.*/
    width:100%; /*Para uma imagem não ficar uma em cima da outra, demos uma largura de 100%*/
}

.swiper-button-prev , .swiper-button-next {
    display:none; /*Retiramos os botões setas do carrossel*/

}

.swiper-pagination {
    position:initial; /*Posição das bolinhas estavam padrão, para colocarmos onde queríamos colocamos na posição inicial.*/
    margin: 0.5em 0; /*Espaçamento da borda para fora de 0.5em topo e baixo e de 0 right e left.*/
}

.card__descrição {
    display:flex; /*Utilizamos o Flexbox para que os elementos filhos dessa classe ficassem em linha uma do lado da outra. Neste caso, os textos de um lado e a figura do livro na outra. Ou seja, cada um em uma coluna. Textos na 1°coluna e a figura na 2°coluna.*/
    justify-content: space-between; 
    margin-bottom: 0.5em;
}

.card__botões {
    display:flex; /*Utilizamos o Flexbox para que os elementos filhos dessa classe ficassem em linha uma do lado da outra. Neste caso, as imagens de favoritos e compras ao lado da âncora "Saiba Mais".*/
    justify-content: space-between; 

}

.botões{
    display:flex; /*Utilizamos o Flexbox para que os elementos filhos dessa classe ficassem em linha uma do lado da outra. Neste caso, as imagens de favoritos e compras.*/
}

.card {
    background: var(--branco); /* Variável - cor branca*/
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); /*Caixa sombreada - Suas dimensões*/
    border-radius: 10px; /*Arredondamento da borda*/
    margin:1em; /*Espaçamento da borda para fora em 1em;*/
    padding: 1em; /*Espaçamento da borda para dentro em 1em;*/
}

.descrição__título {
    color:var(--laranja);
    font-weight: 700; /*Bold*/
}

.descrição__título-livro {
    color:var(--azul-escuro);
    font-size:18px;
    font-weight:700; /*Bold*/
    margin:0.5em 0; /*Espaçamento da borda pra fora; top e bottom. espaçamento do título do livro para com o texto e o outro título acima. */
}

.descrição__texto {
    color:var(--preto);

}

.botões__item {
    margin:0 0.5em; /*As figuras dos botões estavam próximas uma da outra. Portanto, demos um pequeno espaço entre elas. Espaços laterais.*/
}
.botões__âncora {
    background-color:var(--laranja);
    color:var(--branco);
    text-decoration:none; /*Retirando o sublinhado, pois é uma âncora (link). Como somente é um link de redirecionamento para uma outra página e não de execução de uma função, estamos usando uma âncora para está função e não um botão.*/
    padding: 1em 2.2em; /*Espaçamento da borda para dentro; Assim o centralizando. - Espaçamento da borda para dentro top e bottom de 1em e laterais de 2.2em.*/
    font-weight:700; /*Bold*/
}

@media screen and (min-width: 1024px) {

    /*Estamos usando a media query para aplicar um novo estilo para a nossa página web quando a mesma chegar no mínimo de largura de 1024px (Tablet).
    Estamos colocando como 'min-width', porque começamos o nosso projeto fazendo por 'mobile-first', ou seja, começamos a fazendo por uma tela de celular. Quando começarmos fazendo por 'desktop-first', o mesmo se altera e faríamos por 'max-width'. */

    .carrossel__título {
        font-size: 26px;
    }

    .swiper-pagination {
        margin: 2em 0 3em 0; /*Espaçamento da paginação de 2em top, 0 right, 3em bottom e 0 left.*/
    }

    .swiper {
        width:50%; /*Diminuindo o tamanho geral do carrosel*/
    }

    .swiper-button-prev , .swiper-button-next {
        display:block; /*Aparecer os botões setas do carrossel*/
        top: 60%; /*Posicionando a seta mais para baixo*/
    
    }

    .card {
        width:40%;
        margin: 3em auto; /* Estamos posicionando os Cards. Demos 2em para top e bottom e o valor "auto" para right e left para que ele centralizasse o card. Ou seja, o posicionando melhor.*/
    }

}

@media screen and (min-width: 1728px) {
    .carrossel__container {
        display: flex; /*Para que os elementos filhos fiquem no padrão do Flexbox. Ou seja, em linha. Porque, assim, o swiper e o card fiquem em linha. */
        margin: 2em 20vw 3em 20vw; /*Espaçamento da borda para fora em 2em top e 3em bottom.Ou seja, o carrossel aumentou espaço entre ele para o "carrossel__título" tanto top como bottom.
        Em relação a right e left, nós usamos 20vw. Isso refere-se ao viewport que é a largura da tela. Demos esse valor para que o conteúdo que essa classe possue fique mais centralizado e diminua de tamanho. Para isso, estamos ocupando o conteúdo interno em 20% do lado direito e em 20% do lado esquerdo. Assim, fazendo que nós somente utilizemos 60% de espaço de largura que esta classe possue.*/ 
        align-items: center; /*Ele alinhou, porém não ficou correto . Isso porque ele está pegando o alinhamento dos bullets também. Ou seja, é necessário configurar a classe swiper-pagination.*/
    }

    .swiper-pagination {
        margin: 1em 0; /*Espaçamento dos bullets (paginação) d borda para fora. Porém, nesse caso, resultou em aproximação dos bullets ao swiper, porque o espaçamento antes já estava maior. */
    }   

    .swiper {
        width: 90%; /*Aumentando o tamanho da largura do swiper.*/
    }

    .descrição__título {
        font-size: 32px; /*Tamanho da fonte do texto. Ou seja, o tamanho das letras do texto*/
    }

    .descrição__texto {
        font-size: 16px; /*Tamanho da fonte do texto. Ou seja, o tamanho das letras do texto*/
    }

    .carrossel__título {
        font-size: 32px; /*Tamanho da fonte do texto. Ou seja, o tamanho das letras do texto*/
    }

    .card {
        width: 80%; /*Aumentando o tamanho da largura do card para que fique semelhante ao Figma. */
        margin-left: 5em; /*Espaçamento da borda para fora. Ou seja, espaçamento para esquerda em 5em.Assim, espaçando o card do swiper.*/ 
    }

    .descrição {
        margin-right: 2em; /*Espaçamento dentro do card dos textos para o livro e o "Saiba Mais"*/
    }

    .swiper-button-prev, .swiper-button-next{
        top:60%; /* NÃO PRECISAVA, PORQUE JÁ ESTAVA BEM POSICIONADO - Jogando as setas para baixo. Estamos usando a propriedade top com o valor de 60% para que essa porcentagem seja ocupada. Assim, jogando as setas para baixo.*/ 
    }

}